<!doctype html>
<html>

<head>

    <title>getLayer Internet & Software</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/animate.css" />
</head>

<%- body %>

</html>