/* 
 *   Created on : 22/03/2016, 19:21:21
 * Author     : Weverton J. da Silva <https://github.com/wevertonj>
*/

img,
object,
embed,
video,
iframe,
iframe[style] {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

mark {
    padding: 5px 10px;
    background-color: #eee;
}

ul {
    list-style: none;
}

img {
    float: left;
    border: none;
    width: 100%;
    max-width: 100%;
}

small {
    font-size: 0.75em;
    color: #555;
}

a {
    text-decoration: none;
    color: #2297F4;
    transition: 1s;
}

a:hover {
    color: #05F2F2;
}

a img {
    border: 0;
}

fieldset {
    border: none;
}

input,
button,
select,
textArea {
    padding: 10px;
    background-color: #FFF;
}

input.btn,
input.btn {
    width: auto;
    cursor: pointer;
}


/*FORMS*/

.form-field {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.form-legend {
    font-weight: normal;
    font-size: 1.6em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px #555 dotted;
}

label {
    display: block;
}

input,
button,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    color: #555;
}

input[type="submit"],
input[type="reset"],
button {
    width: auto;
    margin-top: 10px;
    cursor: pointer;
}

input[type="color"] {
    height: 40px;
    cursor: pointer;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
    outline: 0;
}

.form-check .form-field {
    margin-bottom: 15px;
}

.form-check label {
    display: inline-block;
    margin-right: 30px;
    padding: 8px 15px 10px 15px;
    ;
    cursor: pointer;
}

.form-check input {
    float: left;
    width: auto;
    margin: 4px 10px 0 0;
    cursor: pointer;
}


/*:required:valid {border: 2px solid  #009933;}*/


/*BACKGROUND*/

.bg-body {
    background-color: #fbfbfb;
    color: #333;
}

.bg-gray {
    background-color: #444444;
    color: #fff;
}

.bg-graylight {
    background-color: #B4AD8B;
    color: #333;
}

.bg-light {
    background-color: #E6E4D9;
    color: #444;
}

.bg-blue {
    background-color: #0e3d84;
    color: #fff;
}

.bg-green {
    background-color: #CCD8D1;
    color: #444;
}

.bg-orange {
    background-color: #E16F4D;
    color: #FFF;
}

.bg-gray small,
.bg-blue small,
.bg-orange small {
    color: #fff !important;
}


/************** PALLETA ***************/

.text-white {
    color: #fff !important;
}

.text-orange {
    color: #FB6617;
}

.text-green {
    color: #00A65A;
}

.text-gray {
    color: #808080;
}


/************ FONT WEIGHT *************/

.font-thinm {
    font-weight: 100 !important;
}

.font-light {
    font-weight: 300 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.font-bold {
    font-weight: 700 !important;
}


/************* CONTAINER **************/

.container {
    width: 100%;
    max-width: 1920px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.article-title {
    text-align: center;
    font-size: 2.2em;
    width: 100%;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.articletitle .tagline {
    font-size: 1.1em;
}


/*************** HELPER ****************/

.text-shadow {
    text-shadow: 1px 1px 0 #ccc;
}

.boxshadow {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none !important;
}

.radius {
    border-radius: 5px;
}

.round {
    border-radius: 50%;
}

.last {
    margin-right: 0 !important;
}

.clear {
    clear: both;
}


/************* FONT SIZE **************/

.fontzero {
    font-size: 0em !important;
}

.font50 {
    font-size: 1.5em !important;
}

.font200 {
    font-size: 2em !important;
}


/************ Text align **************/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


/*************** float ****************/

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

/* SISTEM MESSAGES */

.alert {
    display: block;
    padding: 10px;
    background: #eee;
    font-size: 14px;
    color: #fff !important;
    float: left;
    margin: 15px;
    width: 100%;
}

.alert a {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 15px;
    background: #069;
    color: #fff;
}

.alert a:hover {
    background: #09f;
}

.alert-success {
    background-color: #00A65A;
}

.alert-info {
    background: #367FA9
}

.alert-warning {
    background: #F39C12;
}

.alert-danger {
    background: #DD4B39
}


/*PAGINATOR*/

.paginator {
    padding: 10px;
    background: #fff;
    text-align: center
}

.paginator li {
    display: inline;
}

.paginator a,
.paginator span {
    margin: 0 5px;
    padding: 3px 8px;
    font-size: 14px;
    color: #333;
    font-weight: 600
}

.paginator a:hover {
    background: #09f;
    color: #fff;
}

.paginator .active {
    background: #333;
    color: #fff;
}


/* HEADER SITE */
.main-header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    cursor: pointer;
}

.logo img {
    float: left;
    width: 220px;
    max-width: 100%;
    position: relative;
}

.main-header .main-nav .menu {
    width: 100%;
    height: 40px;
    background: #333333;
    position: relative;
}

/* MAIN MENU */
.main-nav {
    float: right;
}

.main-nav .top {
    display: flex;
}

.main-nav .top li {
    margin-right: 10px;
}

.main-nav .top li:nth-last-of-type(1) {
    margin-right: 0;
}

.main-nav .top li > a {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
}


/* CONTENT */

.section-title {
    background: url('/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.section-title h1 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 3em;
    font-weight: 700;
    padding: 200px 0;
    margin: 0;
}

.content {
    width: 80%;
    margin: 0 auto;
}

#about {
    background-color: #313131;
    padding: 30px 0;
    color: #fff;
}

#about .article-title {
    margin-top: 0;
}

/* Services */

#services .content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
} 

.block-services {
    opacity: 0;
    width: 33%;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}

.block-services img {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.block-services .text {
    padding: 10px;
}

.block-services > .text > h3 {
    color: #666;
    margin-bottom: 0;
}

.block-services > .text > p {
     color: #959595;
     margin-top: 10px;
}

/* Testimonials */
#testimonials .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.block-testimonials {
    opacity: 0;
    width: 32%;
    width: calc(33.33% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-top: solid 2px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

.block-testimonials .feedback {
    color: #666;
    font-size: 1.1em;
    padding: 0 10px;
}

.block-testimonials .project {
    font-weight: 900;
    margin-bottom: 0;
}

.block-testimonials .name {
    color: #959595;
    margin: 0 auto;
}

.block-testimonials .website {
    margin: 0 auto;
}

.block-testimonials .website > a {
    font-weight: 700;
    cursor: pointer;
}

#testimonials .content .footer-note {
    margin: 0;
}

/* Contact Form */
#contact {
    color: #fff;
    background: #2d2d2d;
    padding-bottom: 10px;
}

#contact .content {
    display: flex;
    justify-content: center;
}

#contact .contact-form {
    width: 500px;
    border: 1px solid #2d2d2d;
    padding-bottom: 10px;
}

#contact label {
    text-align: left;
}

#contact input, #contact textarea {
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    background-color: #2d2d2d;
    border: none;
    border-bottom: 1px solid #fff;
    transition: 1s;
}

#contact textarea {
    resize: none;
    overflow-x: hidden;
    overflow: hidden;
}

#contact input:focus, #contact textarea:focus {
    color: #05F2F2;
    border-bottom: 1px solid #05F2F2;
}

/*FOOTER*/

.main-footer {
    color: #fff;
    background: #373737;
    padding: 5px 0;
}

.main-footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.main-footer .author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.main-footer .developer {
    width: 102px;
    display: flex;
    flex-direction: column;
}

.main-footer .developer span {
    font-size: 0.8em;
    color: #fff;
}

.main-footer .developer img {
    margin-top: -10px;
}

/* BUTTONS */

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #FFF;
    border: 1px solid #ADADAD;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    transition: 1s;
}

.btn-flat {
    transition: 1s;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    opacity: 0.7;
    text-decoration: none !important;
    transition: 1s;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.btn-big {
    font-size: 1.8em;
    padding: 20px 40px;
}

.btn-opacity {
    opacity: 0.6
}

.btn-gray {
    color: #fff;
    background-color: #808080;
    border-color: #313131;
}

.btn-green {
    color: #fff;
    background-color: #3ca06a;
    border-color: #338759;
}

.btn-yellow {
    color: #fff;
    background-color: #c8c84b;
    border-color: #adad40;
}

.btn-orange {
    color: #fff;
    background-color: #F04805;
    border-color: #9e4d37;
}

.btn-red {
    color: #fff;
    background-color: #b9352c;
    border-color: #9e2d26;
}

.btn-blue {
    color: #fff;
    background-color: #215ca0;
    border-color: #007daa;
}

.btn-blue-light {
    color: #fff;
    background-color: #4FD7E0;
    border-color: #007daa;
}


.btn-dark {
    color: #fff;
    background-color: #494949;
    border-color: #000;
}


.browser-alert {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1px 10px 14px;
    background: #FF5722;
}

.browser-alert > p > a {
    color: #fff;
}

.browser-alert > p > a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1366px) {
    .section-title {
        background: url('/images/cover-1366.jpg');
    }
}

@media screen and (max-width: 1250px) {
    .section-title h1 {
        font-size: 2.2em;
        padding: 180px 0;
    }
}

@media screen and (max-width: 1024px) {
    .section-title h1 {
        font-size: 1.5em;
        padding: 100px 0;
    }
}

@media screen and (max-width: 996px) {
        /*Menu*/
   /* Main Menu */

    .main-nav {
        position: fixed;
        right: 10px;
        z-index: 98;
        overflow: hidden;
        overflow-y: auto;
    }
    #slider {
        bottom: -300px;
        transition: all .4s linear;
    }
    .main-nav .active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .main-nav .top {
        padding-left: 0;
        flex-direction: column;
    }
    .main-nav .top li {
        padding: 5px;
        background-color: #fff;
        margin-right: 0;
        margin-bottom: 15px;
        border: solid 1px rgba(0,0,0,0.15);
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    .main-nav .top li a {
        font-size: 1.2em;
        text-transform: uppercase;
        padding: 5px;
    }

    .main-nav .top li .sub li a {
        color: #70A50E;
    }
    .main-nav .top li .sub li a:hover {
        color: #09f;
    }
    .mobile-action {
        display: none;
    }


    /* BTN Menu Mobile */

    .mobile-action {
        bottom: 15px;
        right: 15px;
        cursor: pointer;
    }

    /* BTN Menu Mobile */
    .mobile-action {
        display: block;
        z-index: 98;
        width: 64px;
        height: 64px;
        position: fixed;
        background-color: #2297F4;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        border-radius: 50%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    /* Icon 3 */
    .mobile-action span {
        display: block;
        position: absolute;
        height: 6px;
        width: 34px;
        margin: 17px 15px;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .mobile-action span:nth-child(1) {
        top: 0px;
    }
    .mobile-action span:nth-child(2),
    .mobile-action span:nth-child(3) {
        top: 11px;
    }
    .mobile-action span:nth-child(4) {
        top: 22px;
    }
    .mobile-action.active span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .mobile-action.active span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .mobile-action.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .mobile-action.active span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .close-area {
        transition: 0.6s;
    }
    .close-area.active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 960px) {
    .section-title {
        background: url('/images/cover-960.jpg');
    }
}

@media screen and (max-width: 795px) {
    .section-title {
        background: url('/images/cover-790.jpg');
    }

    #services .content, #testimonials .content {
        flex-direction: column;
    }

    .block-services {
        width: 100%;
        margin-bottom: 10px;
        opacity: 1;
    }

    .block-testimonials {
        width: 100%;
        opacity: 1;
    }
}

@media screen and (max-width: 695px) {
   .section-title h1 {
       font-size: 1.2em;
       padding: 90px 0;
   }

   #contact .contact-form {
       width: 100%;
   }

   #contact input, #contact textarea {
       width: 100%;
   }
}

@media screen and (max-width: 560px) {
    .section-title {
        background: url('/images/cover-560.jpg');
    }
}

@media screen and (max-width: 360px) {
    .section-title {
        background: url('/images/cover-360.jpg');
    }
}